# комментарий – это игнорируется
*.a # пропускать файлы, заканчивающиеся на .a
*~
/TODO # игнорировать только корневой файл TODO, а не файлы вида subdir/TODO
build/ # игнорировать все файлы в папке build/
doc/*.txt # игнорировать doc/notes.txt, но не doc/server/arch.txt
